<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Web Socket Test</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body ng-controller="MainController">
	<div class="container">
    <div class="alert alert-info">You are player {{ player }}<br>{{ recieve_message }}</div>
    <form action="#" class="form-inline">
	  <span>Say:</span>
      <input type="text" class="form-control" ng-model="message"/>
      <button type="submit" class="btn btn-primary" ng-click="send_message($event)"/>send</button>
    </form>
    <form action="#" class="form-inline">
      <span>Current Range: {{number_min}} ~ {{number_max}}: </span>
      <input type="number" class="form-control" min="{{number_min}}" max="{{number_max}}" ng-model="number"/>
	  <button type="submit" class="btn btn-primary" ng-click="send_number($event)"/>Send</button>
      <span class="error" ng-show="error">The number must between {{number_min}} ~ {{number_max}}</span>
    </form>
    <hr>
	<div class="panel panel-default">
	<div class="panel-heading">Chatroom</div>
  <div class="panel-body chatroom">
    <ul>
      <li ng-repeat="old_message in log track by $index">{{ old_message }}</li>
    </ul>
  </div>
	</div>
</div>
  </body>
</html>
